@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/*      Sass Template       */
/*  global classes  */
button, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* typography classes */
.font-baloo {
    font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
    font-family: "Raleway", cursive;
}

.font-rubik {
    font-family: "Rubik", cursive;
}

.font-size-12 {
    font-size: 12px;
    
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-20 {
    font-size: 20px;
}

.font-size-25 {
    font-size: 25px;
}

/* Color Template  */
.color-primary {
    color: #003859;
}

.color-primary-bg {
    background: #003859;
}

.color-second {
    color: #67BCCE;
}

.color-second-bg {
    background: #67BCCE;
}

.color-yellow {
    color: #FFD289;
}

.color-yellow-bg {
    background: #FFD289;
}
.color-red-bg {
    background: #ff8989;
}
.color-orange-bg {
    background: #E6873C !important;;
}
.color-orange-button {
    background-color: #E6873C;
}
.text-orange{
    color: #E6873C !important;
}

.text-grey{
    color: #333333;
}
.text-shadow{
    text-shadow: 1px 1px 4px #333333;
}
nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.collapse{
    display: flex;
    justify-content: center;
    color: #000;
}
.main{
    width: 430px;
    box-shadow: 1px 1px 3px #333333;
    background: white;
    opacity: 80%;
    padding: 08px;
    border-radius: 30px;
    height: 40px;
    position: relative;
    margin-left: 10px;
}
input{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 300px;
    margin-left: 5px;
    padding-top: 0px;
}
.search-input {
    border-right: 0;
  }
  
  .input-group-addon {
    position: absolute;
    right: 10px;
    background: transparent;
    border: 0px;
    outline: 0px;
    

  }
  
  .input-group-addon:last-child {
    border-left: 0;
  }
.btnsearch{
    position: absolute;

}
.seller{
    margin-right: 5px;
    color: white;
}
.profile{
    margin-left: 10px;
}
.margin-right{
    margin-right: 30px;
}
.right{
    margin-right: 50px;
}
.fa-user-circle{
    width: 20px;
    height: 20px;
}
.start-selling{
    margin-right: 50px;
}
.align-center{
    align-items: center;
}

/*  top products template   */
#top-products .owl-carousel .item .product a {
    overflow: hidden;
}
#top-products .owl-carousel .item .product img {
    transition: transform 0.5s ease;
}
#top-products .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}
#top-products .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}
#top-products .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
#top-products .owl-carousel .owl-nav button.owl-prev span,
#top-products .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #003859;
    padding: 0 1rem;
}
#top-products .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}
#top-products .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
#top-products .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}
#top-products .grid .grid-item {
    margin-right: 1.2rem;
    margin-left: 20px;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #333333;
    background-color: white;
}

/*   Special Offers Section Template */
#special-offers .grid .grid-item {
    margin-right: 1.2rem;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #333333;
    background-color: white;
    margin-bottom: 30px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-right-10{
    margin-right: 0px;
}
.margin-left-10{
    margin-left: 10px;
    margin-right: 10px;
}
    
.text-blue{
    color: #67BCCE;
}
.padding{
    padding-left: 10px;
    padding-right: 10px;
}


/*   For Navbar */

.main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
    background-color: #E6873C;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    text-decoration: none;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #090909;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}

@media only screen and (max-width: 320px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}

#navbar-icon-design{
   font-size: 50px;
   font-weight: bold;
}

/*   For Ratings */

.progress-label-left
{
    float: left;
    margin-right: 0.5em;
    line-height: 1em;
}
.progress-label-right
{
    float: right;
    margin-left: 0.3em;
    line-height: 1em;
}
.star-light
{
	color:#e9ecef;
}


/*   For Categories */

.category{
    padding-top: 20px;
    padding-bottom: 40px;

}
.category_text{
    background: #E6873C;
    color: rgb(255, 255, 255);   
    padding: 5px;
    
}
.category_name {
    font-size: 14px;
    font-weight: bold;
}

.gadgets {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none; 
    box-shadow: 1px 1px 5px #333333;
}
.gadgets:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.women-apparel {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.women-apparel:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.men-apparel {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.men-apparel:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.delicacies {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.delicacies:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.women-bags {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.women-bags:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.women-accessories {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none; 
    box-shadow: 1px 1px 5px #333333; 
}
.women-accessories:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.men-bags {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.men-bags:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.makeup {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6;  
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.makeup:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.furniture {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.furniture:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.home-living {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.home-living:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.souvenir {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.souvenir:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.men-shoes {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.men-shoes:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.women-shoes {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.women-shoes:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.babies {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.babies:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.lingerie {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.lingerie:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.toys {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6;  
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.toys:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.pottery {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.pottery:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none; 
}
.sports {
    height: 90px;
    width: 130px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    border: none;
    border-radius: 5px;   
    background: #ede9e6; 
    color: black;
    text-decoration:none;  
    box-shadow: 1px 1px 5px #333333;
}
.sports:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #E6873C;  
    color: rgb(255, 255, 255);
    text-decoration:none;   
}


/*   For Services */

.services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
  }
  
  .services .icon-box .icon {
    margin-bottom: 10px;
  }
  
  .services .icon-box .icon i {
    color: #E6873C;
    font-size: 36px;
    transition: 0.3s;
  }
  
  .services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #E6873C;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    transform: translateY(-10px);
   
  }
  
  .services .icon-box:hover h4 a {
    color: #080808;
    text-decoration: none;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #080808;
  }

 #services {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f3f5fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  

   /*Search Box*/
  .searchBox {
    display: flex;
    width: 300px;
    max-width: 500px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #ffffff;
    border-radius: 50px;
    position: relative;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  #searchButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    color: #333333;
    font-size: 15px;
    padding: 14px 26px 14px 16px;
  }
  
  /*   For Navbar */
.navbar{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    /* border-bottom: 1px solid #ccc; */
    /* box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.836); */
    
}
nav{
    /* background-color: #252525; */
    transition: background-color 0.5s ease;
    opacity: 1;
    /* background-color: transparent; */
    transition: transform .2s cubic-bezier(0.64,0.04,0.26,0.87),
    opacity .5s cubic-bezier(0.64,0.04,0.26,0.87);
}

  #back_button{
    text-decoration: none;
    padding-right: 90%;
    font-size: 20px;
    color: #E6873C;
  }

  #back_button:hover{
    color: #000000;

}

 /* Hover View-Top-Products */
#view_top_products .container .row .col .card img{
    transition: transform 0.5s ease;
}
#view_top_products .container .row .col .card img:hover{
    transform: scale(1.1);
}

 /* Hover View-New-Arrivals */
#view_new_arrivals .container .row .col .card img{
    transition: transform 0.5s ease;
}

#view_new_arrivals .container .row .col .card img:hover{
    transform: scale(1.1);
}

 /* Hover View-Special-Offers */
 #view_special_offers .container .row .col .card img{
    transition: transform 0.5s ease;
}

#view_special_offers .container .row .col .card img:hover{
    transform: scale(1.1);
}


 /* #NetGosyo Styles */
.carousel-caption{
    bottom: 90px;
}

.carousel-indicators {
	li{
        width: 70px;
        height: 36px;
        border: 1px solid #222;
    }
    .active{
        border: 1px solid rgb(255, 116, 116);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .carousel-indicators{
        position: relative !important;
        bottom: 0;
    }
    .carousel-caption {
        bottom: 0px;
        top: 80px;
        
        h5{
            font-size: 12px;
            font-weight: bold;
        }
        p{
            font-size: 10px;
        }
    }
    .carousel-title{
        font-size: 18px;
        margin-top: 20px;
    }
}

